extensions {
	"./log.so" kind=ffi
	"./log.wasm" kind=wasm
}

global { }

localhost {
	proxy_pass "/demo" to="localhost:3060"

	proxy_pass "/service01" to="localhost:4050"
	proxy_pass "/service02" to="localhost:4060"
}
